In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame=pd.read_csv('Data.csv')

In [3]:
dataFrame.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
dfNumeric=dataFrame.iloc[:,1:3]

In [5]:
dfNumeric.head()

    Age   Salary
0  44.0  72000.0
1  27.0  48000.0
2  30.0  54000.0
3  38.0  61000.0
4  40.0      NaN

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
min_max_scaler =MinMaxScaler(feature_range =(0, 1))

In [8]:
dfNumeric=min_max_scaler.fit_transform(dfNumeric)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [17]:
dfNumeric

array([[0.73913043, 0.68571429],
       [0.        , 0.        ],
       [0.13043478, 0.17142857],
       [0.47826087, 0.37142857],
       [0.56521739,        nan],
       [0.34782609, 0.28571429],
       [       nan, 0.11428571],
       [0.91304348, 0.88571429],
       [1.        , 1.        ],
       [0.43478261, 0.54285714]])

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
stdScaler=StandardScaler()

In [20]:
dfNum=dataFrame.iloc[:,1:3]

In [21]:
dfNumericStd = stdScaler.fit_transform(dfNum)

In [22]:
dfNumericStd

array([[ 0.71993143,  0.71101276],
       [-1.62367514, -1.36437583],
       [-1.21009751, -0.84552869],
       [-0.10722383, -0.24020701],
       [ 0.16849459,         nan],
       [-0.52080146, -0.49963059],
       [        nan, -1.01847774],
       [ 1.27136827,  1.31633443],
       [ 1.54708669,  1.66223253],
       [-0.24508304,  0.27864014]])

In [24]:
dataset = pd.DataFrame({'Age': dfNumericStd[:, 0], 'Salary': dfNumericStd[:, 1]})

In [25]:
dataset.head()

        Age    Salary
0  0.719931  0.711013
1 -1.623675 -1.364376
2 -1.210098 -0.845529
3 -0.107224 -0.240207
4  0.168495       NaN