In [85]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [86]:
df=pd.read_csv('Datasets/50_Startups.csv')

In [87]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [27]:
df=df.dropna()

In [28]:
df_categorical_column=df.select_dtypes(exclude=[np.number]).columns

In [29]:
df_categorical_column

Index(['State'], dtype='object')

In [30]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder(sparse=False)
onehotencoded=onehotencoder.fit_transform(df[df_categorical_column])

In [31]:
onehotencoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [32]:
state_df=pd.DataFrame(data=onehotencoded, columns=['California','Florida','NewYork'])

In [33]:
state_df.head()

   California  Florida  NewYork
0         0.0      0.0      1.0
1         1.0      0.0      0.0
2         0.0      1.0      0.0
3         0.0      0.0      1.0
4         0.0      1.0      0.0

In [34]:
df=pd.concat([df.iloc[:,:3],state_df,df.iloc[:,4]],axis=1)

In [35]:
df.head()

,R&D Spend,Administration,Marketing Spend,California,Florida,NewYork,Profit
0,165349.20,136897.80,471784.10,0.0,0.0,1.0,192261.83
1,162597.70,151377.59,443898.53,1.0,0.0,0.0,191792.06
2,153441.51,101145.55,407934.54,0.0,1.0,0.0,191050.39
3,144372.41,118671.85,383199.62,0.0,0.0,1.0,182901.99
4,142107.34,91391.77,366168.42,0.0,1.0,0.0,166187.94

In [36]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [61]:
x_test.head()

    R&D Spend  Administration  Marketing Spend  California  Florida  NewYork
28   66051.52       182645.56        118148.20         0.0      1.0      0.0
11  100671.96        91790.61        249744.55         1.0      0.0      0.0
10  101913.08       110594.11        229160.95         0.0      1.0      0.0
41   27892.92        84710.77        164470.71         0.0      1.0      0.0
2   153441.51       101145.55        407934.54         0.0      1.0      0.0

In [40]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [62]:
y_pred=regressor.predict(x_test)

In [83]:
y_pred_nd=y_pred.to_numpy()
y_test_nd=y_test.to_numpy()
pred_profit=np.concatenate((y_pred_nd.reshape(len(y_pred_nd),1),(y_test_nd.reshape(len(y_test_nd),1))),1)

In [84]:
pd.DataFrame(data=pred_profit,columns=['Prediction','Profit'])

      Prediction     Profit
0  103015.201598  103282.38
1  132582.277608  144259.40
2  132447.738452  146121.95
3   71976.098513   77798.83
4  178537.482211  191050.39
5  116161.242302  105008.31
6   67851.692097   81229.06
7   98791.733747   97483.56
8  113969.435330  110352.25
9  167921.065696  166187.94

      Profit     Prediction
0        NaN  103015.201598
1        NaN  132582.277608
2  191050.39  132447.738452
3        NaN   71976.098513
4  166187.94  178537.482211